<!DOCTYPE html>
<html>
  <head>
    {% block head %} {% if title %}
    <title>Home Cloud - {{ title }}</title>
    {% else %}
    <title>Home Cloud</title>
    {% endif %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='dist/css/main.css') }}"
    />

    <style type="text/css">
      #google_translate_element select {
        background-color: rgb(37 99 235);
        color: white;
        border: none;
        border-radius: 3px;
        padding: 0.5rem;
      }

      .goog-logo-link {
        display: none !important;
      }

      .goog-te-gadget {
        color: transparent !important;
      }

      .goog-te-banner-frame.skiptranslate {
        display: none !important;
      }

      body {
        top: 0px !important;
      }
    </style>
    {% endblock %}
  </head>
  <body class="bg-gray-900">
    <!-- Message flashing -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="fixed bottom-0 w-full p-4 bg-green-500 text-white text-center">
      {% for message in messages %}
      <span class="">{{ message }}</span>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <!-- Flashing with filters  -->
    {% with errors = get_flashed_messages(category_filter=["error"]) %} {% if
    errors %}
    <div class="alert-message block-message error">
      <!-- <a class="close" href="#">×</a> -->
      <ul>
        {%- for msg in errors %}
        <li>{{ msg }}</li>
        {% endfor -%}
      </ul>
    </div>
    {% endif %} {% endwith %}

    <!-- Container used to display DEV DEBUG INFO -->
    {% if 'yes' == ip_info %} {% if ip_address and location is defined %}
    <div class="debug-info bg-red-500 p-4 flex justify-between text-white">
      <p>Your IP: {{ip_address}}, Location: {{location}}</p>
      <button>Don't display</button>
    </div>
    {% endif %} {% endif %}

    <!-- Navigation -->
    <nav
      class="flex justify-between p-4 bg-blue-600 text-white sticky top-0 z-9"
    >
      <span class="p-2 text-white font-bold">
        <a href="{{ url_for('main.index') }}">Home Cloud</a>
      </span>
      {% if current_user.is_authenticated %}
      <div
        class="hidden md:flex p-2 dark:bg-gray-800 bg-white dark:text-white text-gray-400 rounded-md gap-4 w-1/5 overflow-hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 dark:text-gray-500"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
        <form action="{{ url_for('main.search') }}" method="post">
          <input
            class="dark:text-white text-gray-900 bg-transparent focus:outline-none focus:border-none w-full"
            type="search"
            name="term"
            id="term"
            placeholder="Search your disk for files..."
          />
        </form>
      </div>
      {% endif %}
      <span class="p-2">
        <ul class="flex gap-4">
          <li class="flex gap-4">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.profile') }}" class="hover:underline">
              My account
            </a>
            {% endif %} {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.login') }}" class="hover:underline">
              Login
            </a>
            <a href="{{ url_for('auth.signup') }}" class="hover:underline">
              Sign Up
            </a>
            {% endif %} {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}" class="hover:underline">
              Logout
            </a>
            {% endif %} {% if current_user.is_authenticated %}
            <span class="cursor-pointer" onclick="openSettings()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
              </svg>
            </span>
            {% endif %}
          </li>
        </ul>
      </span>
    </nav>

    <!-- Mobile only search -->
    <div
      class="flex md:hidden p-4 dark:bg-gray-800 bg-white text-gray-400 shadow-sm gap-4 w-full overflow-hidden"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
      <input
        class="dark:text-white text-gray-900 bg-transparent focus:outline-none focus:border-none w-full"
        type="search"
        name=""
        id=""
        placeholder="Search your disk for files..."
      />
    </div>

    <!-- Sidebar -->
    <!-- <div class=" rounded-md w-72 h-screen flex-col justify-between float-left">
      <div class=" bg-white h-full">
        <div class="flex  justify-center py-10 shadow-sm pr-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-indigo-600" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
          </svg>
          <div class="pl-2">
    
            <p class="text-2xl font-bold text-indigo-600">VENUS</h1>
              <span class="text-xs block text-gray-800">DASHBOARD</span>
          </div>
        </div>
        <div class="pl-10">
          <ul class="space-y-8 pt-10">
            <li class="flex space-x-4 items-center hover:text-indigo-600 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2" />
              </svg>
              <a href="">Dashboard</a>
            </li>
            <li class="flex space-x-4 items-center hover:text-indigo-600 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13 10V3L4 14h7v7l9-11h-7z" />
              </svg>
              <a href="">Activity</a>
            </li>
            <li class="flex space-x-4 items-center hover:text-indigo-600 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
              </svg>
              <a href="">Library</a>
            </li>
            <li class="flex space-x-4 items-center hover:text-indigo-600 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
              </svg>
              <a href="">Security</a>
            </li>
            <li class="flex space-x-4 items-center hover:text-indigo-600 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
              </svg>
              <a href="">Schedules</a>
            </li>
            <li class="flex space-x-4 items-center hover:text-indigo-600 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <a href="">Payouts</a>
            </li>
            <li class="flex space-x-4 items-center hover:text-indigo-600 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
              </svg>
              <a href="">Settings</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="bg-white flex items-center space-x-4 pl-10 pb-10 hover:text-indigo-600 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
        </svg>
        <a href="/loguot">Logout</a>
      </div>
    </div> -->

    <!-- Settings panel -->
    <div
      id="settings"
      class="dark:bg-gray-400/70 dark:text-white fixed top-0 bottom-0 left-0 right-0 z-10 hidden"
    >
      <button onclick="closeSettings()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
      <div class="dark:bg-gray-800 bg-white w-1/5 mt-4 m-auto p-6 rounded-md">
        <p class="text-xl">Settings panel</p>
        <div
          class="dark:bg-gray-700 bg-gray-200 rounded-md p-2 mt-4 flex justify-between"
        >
          <p>Dark mode</p>
          <div
            class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in"
          >
            <input
              type="checkbox"
              name="toggle"
              id="toggle"
              class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"
            />
            <label
              for="toggle"
              class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"
            ></label>
          </div>
        </div>
        <div
          class="dark:bg-gray-700 bg-gray-200 rounded-md p-2 mt-4 flex justify-between"
        >
          <p>Show random images</p>
          <div
            class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in"
          >
            <input
              type="checkbox"
              name="toggle"
              id="toggle"
              class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"
            />
            <label
              for="toggle"
              class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"
            ></label>
          </div>
        </div>
        <div
          class="dark:bg-gray-700 bg-gray-200 rounded-md p-2 mt-4 flex justify-between"
        >
          <p>Show weather info</p>
          <div
            class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in"
          >
            <input
              type="checkbox"
              name="toggle"
              id="toggle"
              class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"
            />
            <label
              for="toggle"
              class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"
            ></label>
          </div>
        </div>
        <p class="text-xl mt-4">
          Upload quality -<span class="font-bold text-blue-600">
            {{image_quality_str}}</span
          >
        </p>
        <div
          class="dark:bg-gray-700 bg-gray-200 rounded-md p-2 mt-4 flex justify-center gap-4"
        >
          <a
            class="hover:text-blue-600 hover:font-bold"
            href="/save-settings/100"
            >Original</a
          >
          <a
            class="hover:text-blue-600 hover:font-bold"
            href="/save-settings/80"
            >High</a
          >
          <a
            class="hover:text-blue-600 hover:font-bold"
            href="/save-settings/50"
            >Medium</a
          >
          <a
            class="hover:text-blue-600 hover:font-bold"
            href="/save-settings/20"
            >Low</a
          >
        </div>
        <p class="text-xl mt-4">
          Show IP Info -<span class="font-bold text-blue-600">
            {{ip_info}}</span
          >
        </p>
        <div
          class="dark:bg-gray-700 bg-gray-200 rounded-md p-2 mt-4 flex justify-center gap-4"
        >
          <a
            class="hover:text-blue-600 hover:font-bold"
            href="/save-ip-settings/yes"
            >Turn on</a
          >
          <a
            class="hover:text-blue-600 hover:font-bold"
            href="/save-ip-settings/no"
            >Turn off</a
          >
        </div>
        <p class="text-xl mt-4">
          Show Folders section -<span class="font-bold text-blue-600">
            {{show_folders}}</span
          >
        </p>
        <div
          class="dark:bg-gray-700 bg-gray-200 rounded-md p-2 mt-4 flex justify-center gap-4"
        >
          <a
            class="hover:text-blue-600 hover:font-bold"
            href="/save-folders-settings/yes"
            >Show</a
          >
          <a
            class="hover:text-blue-600 hover:font-bold"
            href="/save-folders-settings/no"
            >Hide</a
          >
        </div>
        <p class="text-xl mt-4">Keyboard shortcuts</p>
        <p class="dark:bg-gray-700 bg-gray-200 rounded-md p-2 mt-4">
          Ctrl + ArrowUp = Open settings
        </p>
        <p class="dark:bg-gray-700 bg-gray-200 rounded-md p-2 mt-4">
          Ctrl + ArrowDown = Close popups
        </p>
      </div>
    </div>

    <span class="choose-language fixed bottom-6 left-6">
      <!-- <label for="cars">Language</label> -->
      <div id="google_translate_element"></div>
    </span>

    <!-- Main app content here -->
    <div class="content-wrapper">{% block content %} {% endblock %}</div>
    {% block scripts %}
    <script>
      /* Open and close settings window */

      var settings = document.getElementById("settings");

      function openSettings() {
        settings.style.display = "block";
      }

      function closeSettings() {
        settings.style.display = "none";
      }

      // define a handler
      function doc_keyUp(e) {
        // this would test for whichever key is 40 (down arrow) and the ctrl key at the same time
        if (e.ctrlKey && e.key === "ArrowDown") {
          // call your function to do the thing
          closeSettings();
        }
        if (e.ctrlKey && e.key === "ArrowUp") {
          // call your function to do the thing
          openSettings();
        }
      }
      // register the handler
      document.addEventListener("keyup", doc_keyUp, false);
    </script>
    <!-- Load Jquery from CDN -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>

    <!-- Load custom JS from file -->
    <script
      src="{{ url_for('static', filename='dist/js/main.js') }}"
      defer
    ></script>

    <!-- Google translate scripts -->

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          { pageLanguage: "en" },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>

    {% endblock %}
  </body>
</html>
