{% extends "base.html" %}

{% block content %}
<div class="welcome text-center text-white text-3xl flex flex-col gap-4 p-6 mt-12 bg-gray-800 rounded-md w-3/5 m-auto">
    <p>INFO</p>

    <form action="/rename/{{image_name}}" method="post">
        <label for="">Image name:</label>
        <br>
        <input class="rounded-md text-white bg-gray-900 p-4 mt-4" type="text" name="new_name" id="new_name" value="{{file_name}}">
        <br>
        <input class="btn-field mt-4" type="submit" value="Save">
    </form>
<!--     <label for="">Image size: </label>
    <input type="text" name="" id="" value="{{file_size}}">
    <label for="">Extension:</label>
    <input type="text" name="" id="" value="ext">
    
    <input type="text" name="" id="" value="created_at"> -->


</div>
{% endblock %}
