{% extends "base.html" %}

{% block content %}
<div class="form">
    <h3 class="title">Reset your password</h3>
    <div class="box">
        <form class=" p-4 flex flex-col gap-4" method="POST" action="/reset-password">

            <!-- Pass the hidden email attribut to the form for the db query -->
            <!-- <input type="hidden" name="current-user" value="{{email}}"> -->

            <div class="field">
                <div class="control">
                    <input class="input-text" type="password" name="new-password" placeholder="New password">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input-text" type="password" name="new-password-repeat" placeholder="Repeat password">
                </div>
            </div>

            <button class="btn" onclick="{{ url_for ('auth.reset_password_post')}}">Set new password</button>
        </form>
    </div>
</div>
{% endblock %}
